* {
	box-sizing: border-box;
}

html {
	overscroll-behavior: contain;
	
	@media (prefers-reduced-motion: no-preference) {
		scroll-behavior: smooth;
	}
}

body {
  --linearColor1: linear-gradient(to left, #333, #333 50%, #eee 75%, #333 75%);
  --linearColor2: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
              linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
              linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
  --conicColorPrimary: conic-gradient(red, blue);
  --conicColorSecond: conic-gradient(at 0% 30%, red 10%, yellow 30%, #1e90ff 50%);
  --repeatColor: repeating-linear-gradient(-45deg, red, red 10px, blue 10px, blue 20px);
	--activeColor: rgb(240 240 240);
	--navBgColor: rgb(37 38 41);
	--navTextColor: rgb(144 144 150);
	--mainBg: rgb(20 20 23);
  --repeatRadial: repeating-radial-gradient(black, black 5px, white 5px, white 10px);
	font-family: 'Syncopate', sans-serif;
	min-height: 100vh;
	margin: 0;
	/* color: rgb(20 20 23); */
  background: var(--repeatColor);
  color: var(--repeatColor);
}

img {
	display: block;
	width: 100%;
	height: auto;
	max-width: 100%;
}

section {
	--h: calc(var(--i) * 30);
	min-height: 100vh;
	padding: 8rem 0 max(5vh, 2rem);
	display: flex;
	justify-content: center;
	align-items: center;
 	background-color: hsl(var(--h, 0) 75% 60%); 
}

.container {
	width: 100%;
	max-width: 80rem;
	padding: 0 max(5vw, 1rem);
	transform-style: perspective-3d;
	perspective: 900px;
	
	@media (min-width: 32em) {
		display: grid;
		grid-template-columns: repeat(7, minmax(0, 1fr));
		gap: 1rem;
	}
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	/* background: var(--navBgColor); */
	background: var(--repeatColor);
  color: var(--navTextColor);
	/* color: var(--conicColor); */
	z-index: 2;
	height: 6rem;
	
	&::after {
		content: '';
		position: absolute;
		top: 1.7rem;
		left: 0;
		width: 100%;
		height: 0.25rem;
		background: currentColor;
		pointer-events: none;
	}
}

.marker {
	position: fixed;
	top: 1.75rem;
	left: 4rem;
	width: 1rem;
	height: 1rem;
	transform: translate3d(-50%, -50%, 0);
	background: var(--activeColor);
	border-radius: 100%;
	z-index: 2000;
	
	&::before {
		content: '';
		position: absolute;
		top: calc(50% - 0.2rem);
		right: 100%;
		width: 4rem;
		height: 0.4rem;
		background-color: var(--activeColor);
	}
}

.nav__track {
	position: relative;
	min-width: max(200rem, 200%);
	padding: 1.5rem max(100rem, 100%) 0 0;
	height: 6rem;
}

.nav__list {
	list-style: none;
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}

.nav__link {
	position: relative;
	display: block;
	min-width: 8rem;
	padding: 2.25rem 1rem 0.5rem;
	text-align: center;
	color: inherit;
	text-decoration: none;
	z-index: 1;
	transition: color 150ms;
	
	&:hover,
	&:focus {
		color: var(--activeColor);
		text-decoration: underline;
	}
	
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 50%;
		width: 0.65rem;
		height: 0.65rem;
		background-color: rgb(186, 3, 3);
		border-radius: 50%;
		transform: translate3d(-50%, 0, 0);
		transform-origin: center center;
	}
	
	span {
		display: block;
		transition: transform 200ms;
	}
	
	&.is-active {
		span {
			transform: scale(1.4);
			color: var(--activeColor);
		}
		
		&::after {
			display: none;
		}
	}
}

.section__heading {
	font-size: clamp(2rem, 12vmin, 7rem);
	line-height: 1;
	letter-spacing: -0.06em;
	margin: 0 0 1rem;
	grid-row: 1;
	grid-column: 1 / span 7;
	align-self: end;
	position: relative;
	z-index: 1;
	
	span {
		display: block;
	}
	
	span:first-child {
		font-size: clamp(1rem, 10vmin, 5rem);
	}
	
	span:nth-child(2) {
		word-break: break-word;
	}
}

.section__image {
	grid-row: 1;
	grid-column: 5 / span 3;
	position: relative;
	box-shadow: 0.45rem 0.45rem 8rem rgb(0 0 0 / 0.3);
	align-self: center;
	
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: hsl(var(--h, 0) 50% 50%); 
		mix-blend-mode: screen;
	}
	
	img {
		filter: brightness(0.9) grayscale(90%);
	}
}
/* :root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
 */